* {
    font-family: 'Segoe UI';
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: black;
    align-items: center;

    > .container:first-of-type {
        margin-top: 80px;
    }
}
body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 85%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(245, 245, 245);
    box-sizing: border-box;
    position: fixed;
    box-shadow: 0px 1px 5px 0px rgb(255, 255, 255);
    z-index: 42;

    > .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .title {
        font-size: 19px;
        cursor: pointer;
        color: rgb(50, 50, 50);
    }
    .requests {
        height: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 16px;

        .button {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            box-sizing: border-box;
            border: 1px rgb(110, 110, 110) solid;
            color: rgb(80, 80, 80);
        }

        .notification {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 20px;
            background: rgb(255, 0, 0);
            box-sizing: border-box;
            padding: 7px;
            border: 1px rgb(217, 0, 0) solid;
            border-left: none;

            > img {
                height: 100%;
            }
        }
    }

    .requests .button:hover {
        color: rgb(0, 0, 0) !important;
    }
}