.imgbox {
    height: 80px;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    background: rgb(245, 245, 245);
    margin-bottom: 5px;
    box-sizing: border-box;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image-error {
    border: 1px red solid;
}

.error {
    color: red;
    font-size: 15px;
    width: 100%;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;

    #serviceId {
        display: none;
    }

    #imageInp {
        display: none;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;

        p {
            font-size: 17px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 2px;
        }

        textarea {
            height: 150px;
            padding: 10px;
        }

        input {
            height: 40px;
            padding: 10px;
        }

        .input-error::placeholder {
            color: red;
        }
    }

    .row textarea, .row input, button {
        outline: none;
        box-sizing: border-box;
        border-radius: 7px;
        width: 100%;
        resize: none;
        border: 1px rgb(50, 50, 50) solid;
        font-size: 15px;
        background: rgb(245, 245, 245);
        margin-top: 5px;
    }

    button {
        height: 40px;
        width: 180px;
        max-width: 100%;
        cursor: pointer;
        color: white;
        background: linear-gradient(to right top, rgb(0, 94, 255), rgb(23, 143, 255));
        border: 2px rgb(0, 118, 227) solid;
        font-size: 16px;
        transition: 0.2s;
    }
    button:hover {
        transform: translateY(-2px);
    }
}