.norequests {
    width: 100%;
    max-width: 370px;
    box-sizing: border-box;
    padding: 0 30px;
    opacity: 0.4;
}

.sort {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    > a {
        font-size: 16px;
        margin-bottom: 4px;
        color: rgb(110, 110, 110);
    }
    > .active {
        color: rgb(0, 128, 255);
        font-weight: 600;
    }
    > .active::before {
        content: "> ";
        font-weight: 700;
    }
}